# Dependencies
node_modules/

# Environment files
.env
.env.*

# Build output
build/
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# ===========================
# Terraform
# ===========================

.terraform/
**/.terraform/

*.tfstate
*.tfstate.*

crash.log

*.tfvars
*.tfvars.jsongit rm --cached terraform/terraform.tfstate